flows.json
[
    {
        "id": "f1fbd83e9e4b7d8d",
        "type": "tab",
        "label": "Temperatura Simples",
        "disabled": false,
        "info": ""
    },
    {
        "id": "33bd8a90d1f7d3aa",
        "type": "mqtt in",
        "z": "f1fbd83e9e4b7d8d",
        "name": "Receber Temperatura",
        "topic": "temperatura/agua",
        "qos": "0",
        "broker": "6d7be89d1dcd294b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 100,
        "wires": [
            [
                "c6f1cecedfc11235"
            ]
        ]
    },
    {
        "id": "c6f1cecedfc11235",
        "type": "function",
        "z": "f1fbd83e9e4b7d8d",
        "name": "Extrair Temperatura",
        "func": "let dados = JSON.parse(msg.payload);\nmsg.payload = dados.temperatura;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 100,
        "wires": [
            [
                "df98cecc86e748b1"
            ]
        ]
    },
    {
        "id": "df98cecc86e748b1",
        "type": "ui_gauge",
        "z": "f1fbd83e9e4b7d8d",
        "name": "Temperatura (°C)",
        "group": "94de8f5f42a4f614",
        "order": 1,
        "width": 6,
        "height": 4,
        "gtype": "gage",
        "title": "Temperatura Atual",
        "label": "°C",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "35",
        "seg2": "45",
        "diff": false,
        "className": "",
        "x": 590,
        "y": 100,
        "wires": []
    },
    {
        "id": "6d7be89d1dcd294b",
        "type": "mqtt-broker",
        "name": "HiveMQ",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "94de8f5f42a4f614",
        "type": "ui_group",
        "name": "Leitura",
        "tab": "6a0a58d9b3e9a613",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false
    },
    {
        "id": "6a0a58d9b3e9a613",
        "type": "ui_tab",
        "name": "Dashboard",
        "icon": "dashboard",
        "order": 1
    }
]